<div class="py-3 px-5">
  <div class="px-5">
    <h2 class="text-center fw-bold mt-3">DANH SÁCH DỊCH VỤ <i class="fa-solid fa-house"></i></h2>

    <nav class="navbar navbar-expand-lg py-0 my-0">
      <div class="container-fluid">
        <a routerLink="/facility/create">
          <button class="btn btn-primary btn-outline-secondary">
            <span class="fa-solid fa-house-medical text-light h5 my-auto me-1"></span>
            <span class="text-light"> Thêm mới dịch vụ</span>
          </button>
        </a>

        <div class="d-flex my-2" role="search">
          <input class="form-control me-2" type="text" placeholder="Nhập tên dịch vụ.." aria-label="Search"
                 [(ngModel)]="facilityNameSearch">
          <button class="btn btn-light btn-outline-primary" (click)="searchName()">
            <i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>
    </nav>

    <table class="table table-light table-striped table-bordered" id="facilityTable">
      <thead>
      <tr class="table-dark text-light">
        <th class="text-center">STT </th>
        <th class="text-center">Tên dịch vụ</th>
        <th class="text-center">Diện tích </th>
        <th class="text-center">Chi phí thuê </th>
        <th class="text-center">Số người tối đa </th>
<!--        <th class="text-center">Tiêu chuẩn phòng </th>-->
<!--        <th class="text-center">Mô tả tiện nghi khác </th>-->
<!--        <th class="text-center">Diện tích hồ bơi </th>-->
        <th class="text-center">Số tầng </th>
<!--        <th class="text-center">Dịch vụ miễn phí đi kèm</th>-->
        <th class="text-center">Loại dịch vụ</th>
        <th class="text-center">Kiểu thuê</th>
        <th class="text-center">Hình ảnh</th>
        <th class="text-center">Chi tiết</th>
        <th class="text-center">Sửa</th>
        <th class="text-center">Xóa</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of facilityListPaging; index as i">
        <td class="text-center">{{i + 1 + (curPage - 1) * 5 }}</td>
        <td>{{item.facilityName | titlecase}}</td>
        <td>{{item.facilityArea }}</td>
        <td>{{item.rentCost }}</td>
        <td>{{item.maxPeople }}</td>
<!--        <td>{{item.standardRoom }}</td>-->
<!--        <td>{{item.descriptionOtherConvenience }}</td>-->
<!--        <td>{{item.poolArea }}</td>-->
        <td>{{item.numberOfFloors }}</td>
<!--        <td>{{item.facilityFree }}</td>-->
        <td>{{item.rentType.rentTypeName }}</td>
        <td>{{item.facilityType.facilityTypeName }}</td>
        <td>{{item.facilityImage }}</td>
        <td class="text-center">
          <button class="btn btn-info btn-outline-secondary btn-sm"
                  (click)="detailFacility(item.id, item.facilityName, item.descriptionOtherConvenience, item.poolArea, item.facilityFree, item.standardRoom)">
            <!--          <span class="fa-solid text-light h6 m-auto px-2"></span>-->
            <span class="fa-solid fa-thin fa-circle-info text-light h6 m-auto px-2"></span>
          </button>
        </td>

        <td class="text-center">
          <a routerLink="/facility/edit/{{item.id}}">
            <button class="btn btn-success btn-outline-secondary btn-sm">
              <span class="fa-solid fa-user-pen text-light h6 m-auto px-2"></span>
            </button>
          </a>
        </td>

        <td class="text-center">
          <button data-bs-toggle="modal" data-bs-target="#deleteCustomer"
                  class="btn btn-danger btn-outline-secondary btn-sm"
                  (click)="deleteFacility(item.id, item.facilityName)">
            <!--          <span class="fa-solid text-light h6 m-auto px-2"></span>-->
            <span class="fa-solid fa-thin fa-circle-info text-light h6 m-auto px-2"></span>
          </button>
        </td>
      </tbody>
    </table>

    <nav aria-label="..." class="justify-content-center d-flex">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" (click)="previos()" *ngIf="curPage > 1">&laquo; Trang trước</a>
        </li>
        <li class="page-item disabled" *ngIf="curPage <= 1">
          <a class="page-link">&laquo;</a>
        </li>

        <li class="page-item"><a class="page-link disabled" href=""
                                 [text]="curPage + ' / ' + totalPage" *ngIf="curPage <= totalPage"></a>
        </li>

        <li class="page-item">
          <a class="page-link" (click)="next()" *ngIf="curPage < totalPage">Trang sau &raquo;</a>
        </li>
        <li class="page-item disabled" *ngIf="curPage >= totalPage">
          <a class="page-link">&raquo;</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
