<div class="p-3">
  <h2 class="text-center fw-bold">FACILITY LIST</h2>

  <p class="text-center mt-3"><a href="/"><i class="fa-solid fa-house-chimney h5 mx-1"></i> Back to HOME</a></p>


  <nav class="navbar navbar-expand-lg py-0 my-0">
    <div class="container-fluid">
      <a href="/facility?action=create">
        <button class="btn btn-success btn-outline-secondary btn-sm">
          <span class="fa-solid fa-house-medical text-light h5 my-auto me-1"></span>
          <span class="text-light"> Add new Facility</span>
        </button>
      </a>

      <form class="d-flex my-2" role="search" action="/facility">
        <input class="form-control me-2" type="text" placeholder="Input find Service name"
               aria-label="Search" name="nameSearch" style="width: 210%">
        <select class="form-control me-2" name="facilityTypeSearch">
          <option value="">Facility type</option>
        </select>
        <button class="btn btn-outline-success" type="submit" name="action" value="search">
          <i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
  </nav>

  <table id="facilityTable" class="table table-light table-striped table-bordered">
    <thead>
    <tr class="table-dark text-light">
      <th class="text-center"><i class="fa-solid fa-dog"></i></th>
      <th>Name</th>
      <th>Area</th>
      <th>Cost</th>
      <th class="text-center">Max people</th>
      <th>Standard</th>
      <th>Description</th>
      <th>Pool area</th>
      <th class="text-center">Number of Floors</th>
      <th>Facility Free</th>
      <th>Rent type</th>
      <th>Facility type</th>
      <th class="text-center">Edit</th>
      <th class="text-center">Delete</th>
    </tr>
    </thead>

  </table>

</div>
