body {
  background-image: url("https://wallpaperaccess.com/full/2412896.jpg");
}
form {
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v960-ning-30.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=63dd5f402645ef52fb7dfb592aec765a");
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input:invalid {
  border-color: red;
}
input:valid {
  border-color: green;
}
