<!--<p>registration-form works!</p>-->
<!--<p>demo-form works!</p>-->
<div class="container">
  <h2>Registration form</h2>
  <form [formGroup]="rfForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input formControlName="name" type="text" class="form-control"
             [ngClass]="rfForm.controls['name'].invalid ? 'is-invalid' : 'is-valid'">
      <div class="invalid-feedback">
        <div *ngIf="rfForm.controls['name'].hasError('required')
        && rfForm.controls['name'].touched">
          Please provide a student name!
        </div>
        <div *ngIf="rfForm.controls['name'].hasError('minlength')">
          Please input min length > 5!
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Email</label>
      <input formControlName="email" type="text" class="form-control"
             [ngClass]="rfForm.controls['email'].invalid ? 'is-invalid' : 'is-valid'">
      <div class="invalid-feedback">
        <div *ngIf="rfForm.controls['email'].hasError('required')
        && rfForm.controls['email'].touched">
          Please provide a student name!
        </div>
        <div *ngIf="rfForm.controls['email'].hasError('email')">
          Please input match format email!
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Password</label>
      <input formControlName="password" type="password" class="form-control"
             [ngClass]="rfForm.controls['password'].invalid ? 'is-invalid' : 'is-valid'">
      <div class="invalid-feedback">
        <div *ngIf="rfForm.controls['password'].hasError('required')
        && rfForm.controls['password'].touched">
          Please provide a student password!
        </div>
        <div *ngIf="rfForm.controls['password'].hasError('minlength')">
          Please input min length > 5!
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">ConfirmPassword</label>
      <input formControlName="confirmPassword" type="password" class="form-control"
             [ngClass]="rfForm.controls['confirmPassword'].invalid ? 'is-invalid' : 'is-valid'">
      <div class="invalid-feedback">
        <div *ngIf="rfForm.controls['confirmPassword'].hasError('required')
        && rfForm.controls['confirmPassword'].touched">
          Please provide a student password!
        </div>
        <div *ngIf="rfForm.controls['confirmPassword'].hasError('minlength')">
          Please input min length > 5!
        </div>
        <div *ngIf="rfForm.hasError('reConfirmPass')" class="invalid-feedback">
          Password not match!
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Country</label>
      <select formControlName="country" type="text" class="form-control"
             [ngClass]="rfForm.controls['country'].invalid ? 'is-invalid' : 'is-valid'">
        <option>VietNam</option>
        <option>China</option>
        <option>Japan</option>
        <option>USA</option>
        <option>UK</option>
      </select>
      <div class="invalid-feedback">
        <div *ngIf="rfForm.controls['country'].hasError('required')
        && rfForm.controls['country'].touched">
          Please provide a student address!
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Age</label>
      <input formControlName="age" type="text" class="form-control"
             [ngClass]="rfForm.controls['age'].invalid ? 'is-invalid' : 'is-valid'">
      <div class="invalid-feedback">
        <div *ngIf="rfForm.controls['age'].hasError('required')
        && rfForm.controls['age'].touched">
          Please provide a age!
        </div>
        <div *ngIf="rfForm.controls['age'].hasError('min')">
          Please input min age > 19!
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Phone</label>
      <input formControlName="phone" type="text" class="form-control"
             [ngClass]="rfForm.controls['phone'].invalid ? 'is-invalid' : 'is-valid'">
      <div class="invalid-feedback">
        <div *ngIf="rfForm.controls['phone'].hasError('required')
        && rfForm.controls['phone'].touched">
          Please provide a phone!
        </div>
        <div *ngIf="rfForm.controls['phone'].hasError('minlength')">
          Please input min length > 8!
        </div>
        <div *ngIf="rfForm.controls['phone'].hasError('maxlength')">
          Please input max length < 12!
        </div>
        <div *ngIf="rfForm.controls['phone'].hasError('pattern')">
          Please input max max format +84 and 9 character!
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!rfForm.valid">Submit</button>
  </form>
</div>
